<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Esta é a LoucosStore uma loja de produtos tecnológicos fictícia. Este projeto teve como objetivo elaborar uma loja completa de produtos de computação, com barra de pesquisa, links de navegação, página de contato e outras funcionalidades que é possível testar navegando no site, outro objetivo deste projeto foi enraizar os conhecimentos em  Angular. Toda a loja foi desenvolvida com Angular e TypeScript. Navegue no projeto e não esqueça de deixar sua opinião de melhoria na página de contatos! </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>loucosporcamisetas.oficial@gmail.com</li>
                <li><i class="fa-solid fa-phone"></i>(71) 9 8405-3496</li>
                <li><i class="fa-brands fa-square-whatsapp"></i>(71) 9 8405-3496</li>
            </ul>
        </address>
    </div>
    <section>
        &copy; Todos os direitos reservados
    </section>

</footer>
